@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
*, *:before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #ebfff1;
  --bg-color: rgb(46, 49, 46);
  --hint: #333;
  --bg-card: rgb(49, 54, 49);
  --bg-color-hover: #ebfff186;
}
:root.light {
  --text: #39413b;
  --bg-color: #ebfff186;
  --hint: rgba(255, 255, 255, 0.377);
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
  background: #2e312e;
  color: #ebfff1;
  min-height: 100vh;
}

main {
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

p {
  line-height: 2.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

[class⁼col-] {
  flex-basis: 100%;
}

@media screen and (max-width: 2000px) {
  .col-1 {
    flex: 0 0 8.3333333333%;
  }

  .col-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-2 {
    flex: 0 0 16.6666666667%;
  }

  .col-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-3 {
    flex: 0 0 25%;
  }

  .col-offset-3 {
    margin-left: 25%;
  }

  .col-4 {
    flex: 0 0 33.3333333333%;
  }

  .col-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-5 {
    flex: 0 0 41.6666666667%;
  }

  .col-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-6 {
    flex: 0 0 50%;
  }

  .col-offset-6 {
    margin-left: 50%;
  }

  .col-7 {
    flex: 0 0 58.3333333333%;
  }

  .col-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-8 {
    flex: 0 0 66.6666666667%;
  }

  .col-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-9 {
    flex: 0 0 75%;
  }

  .col-offset-9 {
    margin-left: 75%;
  }

  .col-10 {
    flex: 0 0 83.3333333333%;
  }

  .col-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-11 {
    flex: 0 0 91.6666666667%;
  }

  .col-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-12 {
    flex: 0 0 100%;
  }

  .col-offset-12 {
    margin-left: 100%;
  }
}
.container {
  width: 70vw;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 80vw;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 85vw;
  }
}

.select--purple ::selection {
  background: var(--purple);
  color: #f1f1f1;
}
.select--green ::selection {
  background: var(--green);
}
.select--primary ::selection {
  background: var(--primary);
  color: #f1f1f1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: translateY(-50%) rotate(0) scale(1);
  }
  100% {
    transform: translateY(-50%) rotate(360deg) scale(1);
  }
}
@keyframes rotateAlbum {
  0% {
    transform: translateY(-50%) scale(10) rotate(0);
  }
  100% {
    transform: translateY(-50%) scale(10) rotate(360deg);
  }
}
@keyframes bright {
  0% {
    left: -50%;
  }
  100% {
    left: 150%;
  }
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format("woff2"), url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff) format("woff"), url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format("truetype");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #333;
  color: #f1f1f1;
  padding: 2rem;
  margin-bottom: 8rem;
}
nav ul {
  display: flex;
}
nav ul li + li {
  margin-left: 2rem;
}
nav ul a {
  color: #f1f1f1;
}

.burger-btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
@media screen and (max-width: 768px) {
  .burger-btn {
    display: block;
  }
}

.burger {
  height: 0.2rem;
  width: 1.5rem;
  background: #f1f1f1;
  position: relative;
  transition: background 0.2s ease-in-out;
}
.burger:before, .burger:after {
  content: "";
  position: absolute;
  height: 0.2rem;
  width: 2rem;
  background: #f1f1f1;
  transition: transform 0.2s ease-in-out;
}
.burger:before {
  transform: translateY(-0.8rem);
}
.burger:after {
  transform: translateY(0.8rem);
}
.burger.open {
  background: transparent;
}
.burger.open:before {
  transform: translateY(0) rotate(45deg);
  opacity: 1;
}
.burger.open:after {
  transform: translateY(0) rotate(-45deg);
  opacity: 1;
}

.black,
.white,
.empty,
.bateau {
  height: 72px;
}

.black {
  background: #000;
}

.white {
  background: #f1f1f1;
}

.damier {
  max-width: 586px;
  border: 1rem solid #333;
}

.damier .col-1 {
  width: 12.5% !important;
}

.navale {
  max-width: 730px;
  border: 1rem solid #333;
  cursor: none;
}
.navale .col-1 {
  width: 10% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navale .empty,
.navale .bateau {
  background: #ccc;
  border: 2px solid #fff;
  transition: background 0.5s ease;
  color: #fff;
}
.navale #cursor {
  display: none;
  position: absolute;
  height: 2rem;
  width: 2rem;
  background: #000;
  border-radius: 50%;
}

.songs {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20rem);
  align-items: start;
  gap: 2rem;
  margin: 3.5rem 0;
}
.songs .song {
  position: relative;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
  padding: 2rem;
  min-height: 22rem;
  background: #454b47;
  border-radius: 0.3rem;
  transition: color 0.35s ease-in-out, transform 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
  overflow: hidden;
  display: grid;
  gap: 1rem;
  cursor: pointer;
  transform: rotate(0) scale(1);
}
.songs .song > * {
  position: relative;
  z-index: 5;
}
.songs .song:before {
  content: url("../../assets/img/disc-svgrepo-com.svg");
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%) scale(4);
  opacity: 0.05;
  z-index: 0;
  transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out;
}
.songs .song:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: #ebfff186;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.4s ease-in-out, opacity 0.4s ease;
}
.songs .song:hover {
  box-shadow: 1rem 1rem 0.8rem 1rem rgba(0, 0, 0, 0.2);
  color: #39413b;
  transform: rotate(-2.5deg) scale(1.1);
  z-index: 5;
}
.songs .song:hover:before {
  animation: rotate 2s infinite ease-out;
  animation-delay: 0.35s;
  opacity: 1;
  transform: scale(1) translatey(-50%);
}
.songs .song:hover:after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.songs .song:hover .styles span {
  background: rgba(255, 255, 255, 0.377);
}
.songs .song:hover .price {
  opacity: 1;
  transform: scale(1);
  border-radius: 0.3rem;
}
.songs .song h3 {
  font-size: 1.8rem;
  font-weight: 300;
}
.songs .song .styles {
  display: grid;
  grid-template-columns: repeat(auto-fill, auto-fit);
  gap: 0.5rem;
  align-items: center;
}
.songs .song .styles span {
  padding: 0.5rem 1rem;
  background: #333;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 0.3rem;
  transition: background 0.2s ease;
  width: fit-content;
}
.songs .song .price {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  padding: 0.25rem 1rem;
  background: #333;
  color: #ebfff1;
  font-size: 1.2rem;
  opacity: 0;
  transform: scale(0);
  border-radius: 50%;
  transition: transform 0.35s ease, opacity 0.35s ease, border-radius 0.35s ease;
}

.album {
  padding: 3.5rem;
  background: #313631;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  margin-bottom: 5rem;
  transition: box-shadow 0.2s ease-in-out;
}
.album:before {
  content: url("../../assets/img/disc-svgrepo-com.svg");
  position: absolute;
  right: 3.5rem;
  transform: translateY(-50%) scale(10) rotate(240deg);
  opacity: 0.035;
  transform-origin: center center;
  animation: rotateAlbum 10s infinite;
}
.album:hover {
  box-shadow: 0 0 0.3rem #313631;
}
.album:hover:after {
  transform: scale(1);
  opacity: 0.5;
}

.heros {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2rem;
  margin-bottom: 5rem;
}
@media screen and (max-width: 992px) {
  .heros {
    grid-template-columns: repeat(2, auto);
  }
}
.heros .hero {
  height: fit-content;
  background: rgba(51, 51, 51, 0.8);
  color: #f1f1f1;
  border-radius: 0.3rem;
  transition: transform 0.2s ease-in-out;
}
.heros .hero:hover {
  transform: translateY(-0.3rem);
}
.heros .hero:hover .hero-top:after {
  animation: bright 0.5s ease-in-out;
}
.heros .hero .progress-bars {
  position: absolute;
  display: flex;
  bottom: 2rem;
  right: 2rem;
}
.heros .hero .progress {
  width: 3.5rem;
  height: 15rem;
  background: #56ab2f;
  background: -webkit-linear-gradient(to top, #a8e063, #56ab2f);
  background: linear-gradient(to top, #a8e063, #56ab2f);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 0.5s;
}
.heros .hero .progress + .progress {
  margin-left: 1rem;
}
.heros .hero .progress span {
  position: absolute;
  z-index: 10;
  width: 100%;
  text-align: center;
  color: #f1f1f1;
}
.heros .hero .progress:before, .heros .hero .progress:after {
  content: "";
  position: absolute;
  width: 15rem;
  height: 15rem;
  top: var(--hp-top);
  left: 50%;
  transform: translate(-50%, -25%);
  background: #000;
}
.heros .hero .progress:before {
  border-radius: 45%;
  background: #e6e6e6;
  animation: animate 5s linear infinite;
}
.heros .hero .progress:after {
  border-radius: 40%;
  background: rgba(230, 230, 230, 0.5);
  animation: animate 10s linear infinite;
}
.heros .hero .progress:last-of-type {
  background: #2193b0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #6dd5ed, #2193b0);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #6dd5ed, #2193b0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.heros .hero .progress:last-of-type:before, .heros .hero .progress:last-of-type::after {
  top: var(--mana-top);
}
.heros .hero-hp {
  width: 100%;
  background: green;
  border-radius: 0.3rem;
  position: relative;
}
.heros .hero-hp span {
  position: absolute;
  z-index: 1000;
}
.heros .hero-top {
  padding: 2rem;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.377), #f1f1f1da);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.heros .hero-top:after {
  content: "";
  position: absolute;
  top: -25%;
  left: -50%;
  height: 150%;
  width: 5%;
  background: rgba(255, 255, 255, 0.1);
  transform: rotate(45deg);
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.1);
}
.heros .hero-top h2 {
  color: #333;
  font-weight: 400;
  width: fit-content;
  background: #e0e4eccc;
  left: 0;
  top: 0;
  position: absolute;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 0 0 0.5rem 0;
}
.heros .hero-top h2 span {
  font-size: 1.6rem;
  padding: 0.3rem 0.6rem;
  background: rgba(51, 51, 51, 0.666);
  color: #f1f1f1;
  border-radius: 0.3rem;
  margin-left: 0.5rem;
}
.heros .hero-top .race {
  position: absolute;
  padding: 0.3rem 0.6rem;
  background: rgba(51, 51, 51, 0.666);
  width: fit-content;
  font-size: 1.4rem;
  color: #f1f1f1;
  border-radius: 0 0 0 0.3rem;
  margin-bottom: 1rem;
  align-self: flex-end;
  top: 0;
  right: 0;
  overflow: hidden;
}
.heros .hero-image {
  max-height: 22rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}
.heros .hero-image img {
  transition: transform 0.2s ease-in-out;
}
.heros .hero-content {
  padding: 2rem;
  display: grid;
  gap: 1rem;
}
.heros .hero-content h3 {
  font-weight: 300;
  margin-bottom: 1rem;
}
.heros .hero-content h3:last-of-type {
  margin-top: 1rem;
}
.heros .hero-stats {
  display: grid;
}
.heros .hero-stats li {
  background: rgba(224, 228, 236, 0.07);
  border: 0.1rem solid rgba(51, 51, 51, 0.281);
  padding: 1rem;
}
.heros .hero-stats li:first-of-type {
  border-radius: 0.3rem 0.3rem 0 0;
}
.heros .hero-stats li:last-of-type {
  border-radius: 0 0 0.3rem 0.3rem;
}
.heros .hero-stats li + li {
  border-top: none;
}

.logs {
  margin-bottom: 5rem;
}

.exo-count {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #9ea8a0;
  transform-style: preserve-3d;
}
.exo-count .count-content {
  text-align: center;
  padding: 6rem;
  background: rgba(21, 22, 21, 0.134);
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  perspective: 30rem;
  transition: transform 1s ease;
}
.exo-count .count-content:hover .count {
  transform: rotateY(180deg);
}
.exo-count .count-content:hover .count .count-back {
  transform: rotateY(-180deg);
}
.exo-count a button {
  font-size: 4rem;
  color: #f1f1f1;
  border: 0;
  padding: 2rem 4rem;
  border-radius: 0.3rem 0 0 0.3rem;
  background: #51d451;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: transform 0.2s ease, background 0.15s ease, box-shadow 0.2s ease;
}
.exo-count a button:hover {
  background: #5ff85f;
  transform: rotateY(15deg) translateY(-0.3rem) scale(1.05);
  box-shadow: -0.5rem 0.3rem 0.5rem 0 rgba(0, 0, 0, 0.1);
}
.exo-count a:last-of-type button {
  border-radius: 0 0.3rem 0.3rem 0;
  background: #db4848;
}
.exo-count a:last-of-type button:hover {
  background: #f55050;
  transform: rotateY(-15deg) translateY(-0.3rem) scale(1.05);
  box-shadow: 0.5rem 0.3rem 0.5rem 0 rgba(0, 0, 0, 0.1);
}
.exo-count .count-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exo-count .count {
  margin-top: 2rem;
  font-size: 3rem;
  transition: transform 1s ease-in-out;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.247);
  backface-visibility: visible;
  position: relative;
}
.exo-count .count .count-back {
  position: absolute;
  inset: 0;
  transform: rotateY(180deg);
  backface-visibility: visible;
  transition: transform 1s ease;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.247);
}

.errors {
  display: flex;
  flex-direction: column;
}
.errors a {
  color: #333;
  padding: 2rem;
  background: #ccc;
  width: fit-content;
  margin-top: 1rem;
  border-radius: 1rem;
}
.errors .error,
.errors .success {
  background: red;
  color: #f1f1f1;
  padding: 2rem;
}
.errors .error + .error,
.errors .success + .error {
  margin-top: 1rem;
}
.errors .success {
  background: green;
}

.count-page nav {
  display: flex;
  background: #1f1f1f;
}
.count-page nav ul a + a {
  margin-left: 2rem;
}
.count-page h1 {
  margin-bottom: 3rem;
  font-weight: 300;
}
.count-page main {
  display: flex;
  flex-direction: column;
}
.count-page main .count {
  padding: 2rem;
  background: #333;
  border: 0.2rem solid;
}
.count-page main .count + .count {
  margin-top: 1.5rem;
}

.commerce {
  padding-top: 5rem;
}
.commerce .items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  perspective: 400rem;
  flex-wrap: wrap;
  min-width: 70%;
  width: 100%;
  height: fit-content;
}
.commerce .container {
  display: flex;
  justify-content: space-between;
  transform-style: preserve-3d;
}
.commerce .container aside {
  width: 25%;
  border: 0.2rem solid;
  padding: 2rem;
  height: fit-content;
  border-radius: 0.5rem;
  color: #333;
  background-color: #ebfff186;
}
.commerce .container aside ul {
  display: flex;
  flex-direction: column;
}
.commerce .container aside ul li {
  border-top: 0.1rem solid;
  padding-top: 1rem;
}
.commerce .container aside ul li:last-of-type {
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid;
}
.commerce .container aside ul li form {
  margin-top: 1rem;
}
.commerce .container aside ul li form input {
  padding: 0.5rem;
}
.commerce .container aside ul li + li {
  margin-top: 1rem;
}
.commerce .container .focus-item:hover .item {
  transform: rotateY(0deg) translateY(-0.2rem) scale(1.025);
}
.commerce .container .focus-item:hover .item input[type=submit] {
  background: #20cb20;
  color: #f1f1f1;
  font-weight: bold;
}
.commerce .container .focus-item:hover .item .img img {
  transform: scale(1.025);
}
.commerce .container .item {
  position: relative;
  max-width: 28rem;
  background: #c1c1c1;
  color: #333;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
  transform: rotateY(10deg);
  transform-origin: center center;
  transition: background 0.2s ease-in-out, transform 0.25s ease-in-out;
}
.commerce .container .item .back {
  position: absolute;
  inset: 0;
}
.commerce .container .item .img {
  overflow: hidden;
}
.commerce .container .item .img img {
  transition: transform 0.2s ease-in-out;
}
.commerce .container .item h2 {
  font-weight: 400;
  font-size: 1.8rem;
  padding: 2rem;
}
.commerce .container .item p {
  padding: 2rem 0 2rem 2rem;
}
.commerce .container .item form {
  padding-left: 2rem;
  padding-bottom: 2rem;
}
.commerce .container .item form input[type=submit] {
  padding: 1rem;
  border: 0;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out, color 0.2s ease, font-weight 0.2s ease;
}
.commerce .container aside + .items {
  margin-left: 4rem;
}
.commerce .container aside + .items .item {
  max-width: 23rem;
}

.winner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../rpg/images/bg-winner.png) no-repeat bottom center;
}

.rpg {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../rpg/images/bg-rpg.png) no-repeat bottom center;
  background-size: cover;
}

.dungeon {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../rpg/images/bg-dungeon.jpeg) no-repeat bottom center;
}
.dungeon h1 {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 4.5rem;
  margin: 3.5rem 0;
}
.dungeon h1 img {
  margin: 0 2rem;
  max-width: 10rem;
}

.container.container-hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container.container-hero .btn {
  color: #f1f1f1;
  background: rgba(51, 51, 51, 0.8);
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 2rem;
  border: 0.2rem solid rgba(241, 241, 241, 0.8);
  border-radius: 0.2rem;
}
.container.container-hero .btn:before {
  content: "";
  display: inline-block;
  background-image: url(../rpg/images/sword.png);
  background-size: 3rem 3rem;
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
}

.hero-form {
  margin-top: 2rem;
  padding: 3rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  min-width: 40rem;
  background: linear-gradient(to bottom right, rgba(87, 85, 85, 0.6), rgba(149, 147, 147, 0.6));
  background-size: cover;
  background-position: center center;
}
.hero-form h1 {
  font-weight: 400;
  margin-bottom: 2.5rem;
  font-size: 2.8rem;
  text-align: center;
  text-transform: uppercase;
}
.hero-form input:not(input[name=name]), .hero-form label:not(label:first-of-type), .hero-form select {
  margin-top: 2rem;
}
.hero-form label:not(label[for=file]) {
  display: none;
}
.hero-form input:not(input[type=file], input[type=submit]), .hero-form select {
  padding: 1rem 0.5rem;
  border: 0;
  border-radius: 0.3rem;
  background: rgba(241, 241, 241, 0.8);
}
.hero-form input[type=submit] {
  padding: 1rem 0.5rem;
  border: 0;
  border-radius: 0.3rem;
  background: #333;
  color: #f1f1f1;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
