.commerce {
  padding-top: 5rem;
  .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    perspective: 400rem;
    flex-wrap: wrap;
    min-width: 70%;
    width: 100%;
    height: fit-content;
  }
  .container {
    display: flex;
    justify-content: space-between;
    transform-style: preserve-3d;
    aside {
      width: 25%;
      border: .2rem solid;
      padding: 2rem;
      height: fit-content;
      border-radius: .5rem;
      color: #333;
      background-color: #ebfff186;
      ul {
        display: flex;
        flex-direction: column;
        li {
          border-top: .1rem solid;
          padding-top: 1rem;
          &:last-of-type {
            padding-bottom: 1rem;
            border-bottom: .1rem solid;
          }
          form {
            margin-top: 1rem;
            input {
              padding: .5rem;
            }
          }
        }
        li + li {
          margin-top: 1rem;
        }
      }
    }
    .focus-item:hover {
      .item {
        transform: rotateY(0deg) translateY(-.2rem) scale(1.025);
        input[type='submit'] {
          background: #20cb20;
          color: #f1f1f1;
          font-weight: bold;
        }
        .img img {
          transform: scale(1.025);
        }
      }
    }
    .item {
      position: relative;
      max-width: 28rem;
      background: #c1c1c1;
      color: #333;
      border-radius: 0.3rem;
      box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
      transform: rotateY(10deg);
      transform-origin: center center;
      transition: background .2s ease-in-out,
      transform .25s ease-in-out;
      .back {
        position: absolute;
        inset: 0;
      }
      .img {
        overflow: hidden;
        img {
          transition: transform .2s ease-in-out;
        }
      }
      h2 {
        font-weight: 400;
        font-size: 1.8rem;
        padding: 2rem;
      }
      p {
        padding: 2rem 0 2rem 2rem;
      }
      form {
        padding-left: 2rem;
        padding-bottom: 2rem;
        input[type='submit'] {
          padding: 1rem;
          border: 0;
          box-shadow: 0 0 .3rem rgba(0, 0, 0, .3);
          border-radius: .3rem;
          cursor: pointer;
          transition: background .2s ease-in-out,
          color .2s ease,
          font-weight .2s ease;
        }
      }
    }
    aside + .items {
      margin-left: 4rem;
      .item {
        max-width: 23rem;
      }
    }
  }
}