.winner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../rpg/images/bg-winner.png) no-repeat bottom center;

}

.rpg {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../rpg/images/bg-rpg.png) no-repeat bottom center;
  background-size: cover;
}

.dungeon {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../rpg/images/bg-dungeon.jpeg) no-repeat bottom center;

  h1 {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 4.5rem;
    margin: 3.5rem 0;

    img {
      margin: 0 2rem;
      max-width: 10rem;
    }
  }

}

.container.container-hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .btn {
    color: #f1f1f1;
    background: rgba(51, 51, 51, 0.8);
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 2rem;
    border: .2rem solid rgba(241, 241, 241, 0.8);
    border-radius: .2rem;

    &:before {
      content: '';
      display: inline-block;
      background-image: url(../rpg/images/sword.png);
      background-size: 3rem 3rem;
      width: 3rem;
      height: 3rem;
      margin-right: .5rem;
    }
  }
}

.hero-form {
  margin-top: 2rem;
  padding: 3rem;
  border-radius: .3rem;
  display: flex;
  flex-direction: column;
  min-width: 40rem;
  background: linear-gradient(to bottom right, rgba(87, 85, 85, 0.6), rgba(149, 147, 147, 0.6));
  background-size: cover;
  background-position: center center;

  h1 {
    font-weight: 400;
    margin-bottom: 2.5rem;
    font-size: 2.8rem;
    text-align: center;
    text-transform: uppercase;
  }

  input:not(input[name='name']), label:not(label:first-of-type), select {
    margin-top: 2rem;
  }

  label:not(label[for='file']) {
    display: none;
  }

  input:not(input[type='file'], input[type='submit']), select {
    padding: 1rem .5rem;
    border: 0;
    border-radius: .3rem;
    background: rgba(241, 241, 241, 0.8);
  }

  input[type='submit'] {
    padding: 1rem .5rem;
    border: 0;
    border-radius: .3rem;
    background: #333;
    color: #f1f1f1;
    cursor: pointer;
  }
}